/* Universal styles */

* {
    font-family: "Work Sans";
}

p {
    font-size: 16px;
}

header h1 {
    background-color: #CAC7C7;
    width:100%;
    height: 100%;
    text-align: center;
    padding: 25px 0px;
    margin: 0px;
}

/* Banner */

.banner {
    background-image: url("images/education.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: #FFFFFF;
    height: 400px;
    align-items: center;
}

.photo h2 {
    text-align: center;
}

.education {
    width: 70%;
}

.education h2 {
    border-bottom: 1px solid #FFFFFF;
    width: 12%;
}

.education p {
    font-size: 1.2rem;
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
    .banner {
        background-image: url("images/education.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        color: #FFFFFF;
        height: auto;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px 0px;
    }
    
    .photo h2 {
        text-align: center;
    }
    
    .education {
        width: 70%;
    }
    
    .education h2 {
        border-bottom: 1px solid #FFFFFF;
        width: 49%;
    }
    
    .education p {
        font-size: 1.2rem;
    }
}

/* H2 between sections */

.h2 {
    text-align: center;
    background-color: #fad017;
    margin: 0px;
    padding: 30px;
}

/* Projects */

.projects {
    display: flex;
    justify-content: center;
}

.data_insights a img {
    width: 50%;
    margin: 50px 25%;
}

.cta_data_insights {
    color: #FFFFFF;
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
    .projects {
        display: flex;
        justify-content: center;
    }
    
    .data_insights a img {
        width: 70%;
        margin: 50px 17.5%;
    }
    
    .cta_data_insights {
        color: #FFFFFF;
    }
}